<header>
  <nav class="navbar navbar-expand-md navbar-light bg-warning">
    <a class="navbar-brand" href="#">RESOURCE WALL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" >
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
  </nav>
</header>

