<header>
  <nav class="navbar navbar-expand-md navbar-light bg-warning">
    <a class="navbar-brand" href="#">RESOURCE WALL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="resources/resources/new">Add Resource</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="http://localhost:8080/categories/1/resources">Sports</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="http://localhost:8080/categories/2/resources">Education</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="http://localhost:8080/categories/3/resources">Business</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="http://localhost:8080/categories/4/resources">Food</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="http://localhost:8080/categories/5/resources">Travel</a>

          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
            Logged in as <%= user_email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="">My Resources</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/profile/:user_id">My Profile</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/resourcewall/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
