

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- App CSS -->
<link rel="stylesheet" href="styles/main_resource.css" type="text/css" />


<body>
    <header>
      <%- include('partials/_header') %>
    </header>
    <div id="login">
      <h3 class="text-center text-danger pt-5">RESOURCE WALL</h3>
      <form id="new-resource" action="/resources/search?=:query" method="POST">

        <div class="search-area">
          <div class="input-box">
            <input class="textbox" type="text" name="text" id="resouce-text" placeholder="Search..." ></input>
            <button type="submit" class="btn btn-warning">Search</button>
          </div>
        </div>
      </form>
      <div class="main-resource">
        <article class="resource">

            <div class="info">
              <span class="name">John Doe</span>
              <span class="rating">Avg Rating: ?</span>
          </div>

          <p class="resource-data">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <footer class="footer">
            <span class="date">Date: ##/##/##</span>
            <span class ="like-icon">&#128153</span>
          </footer>
        </article>
    </div>

    </div>
</body>

