<head>
	<title>Bootstrap 4 Drop Down Menu</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->

<body>
    <header>
      <%- include('partials/02_header') %>
    </header>
    <div id="login">
      <style type="text/css">
      </style>
        <h3 class="text-center text-success pt-5">RESOURCE WALL</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="register-form" class="form" action="/resourcewall/register" method="post" style="border: solid black 2px">
                            <h3 class="text-center text-success">Register here!</h3>
                            <div class="form-group">
                                <label for="username" class="text-success">User-Name</label><br>
                                <input type="text" name="username" id="user-name" placeholder="Enter a username..." class="form-control">
                            </div>
                            <div class="form-group">
                              <label for="email" class="text-success">Email:</label><br>
                              <input type="email" name="email" id="user-email" placeholder="Enter your email..." class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-success">Password:</label><br>
                                <input type="password" name="password" id="password" placeholder="Enter your password..." class="form-control">
                                <small id="passwordHelpInline" class="text-muted">
                                    Must be 8-20 characters long.
                                </small>
                            </div>
                            <div class="form-group">
                              <button type="submit" class="btn btn-success">Sign Up!</button>
                            </div>
                        </form>

                        <a class = "redirectButton" href="/resources" style = "border: solid black 2px" >Go Back To Index Page?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
