.index-page {
  background-color: rgba(0, 153, 255, 0.548);
  display: flex;
  flex-direction: column;
  align-content: center;
}


.background-image {
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.about-page {

  position: absolute;
  margin-top: 200px;
  height: 150px;
  margin-left: 160px;
  padding: 20px;
  width: 70%;
}

.btn-login-register {
  display: flex;
  margin-left: 38%;
  position: absolute;
  margin-top: 40%;
  flex-direction: row;
  justify-content: space-around;
}

.btn-register {
  background-color: powderblue;
}

.paragraph {
  font-size: 5vw;
}


.middle-text {
  font-size: 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
