.index-page {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.background-image {
  width: 100%;
  height: 100%;
}

.about-page {
  background-color: rgb(255, 187, 0);
  position: absolute;
  margin-top: 200px;
  height: 150px;
  margin-left: 160px;
  padding: 20px;
  width: 70%;
}

.btn-login-register {
  display: flex;
  margin-left: 38%;
  position: absolute;
  margin-top: 40%;
  flex-direction: row;
  justify-content: space-around;
}
